Repository chef/chef-cli, pull requests merged in 2025-03, with the labels that each got.

#268 Chef -dke renaming changes
  lib/chef-cli/dist.rb
  lib/chef-cli/helpers.rb
  spec/unit/command/env_spec.rb
  spec/unit/command/shell_init_spec.rb
  spec/unit/helpers_spec.rb
Labels: Expeditor: Skip Changelog, Expeditor: Skip Version Bump

#269 Reverting back the hab and licensing changes
  .expeditor/build.habitat.yml
  .expeditor/buildkite/artifact.habitat.test.ps1
  .expeditor/buildkite/artifact.habitat.test.sh
  .expeditor/config.yml
  .expeditor/habitat-test.pipeline.yml
  .gitignore
  CHANGELOG.md
  Gemfile
  Rakefile
  VERSION
  chef-cli.gemspec
  habitat/plan.ps1
  habitat/plan.sh
  habitat/tests/test.ps1
  habitat/tests/test.sh
  lib/chef-cli/builtin_commands.rb
  lib/chef-cli/command/env.rb
  lib/chef-cli/command/exec.rb
  lib/chef-cli/command/license.rb
  lib/chef-cli/command/shell_init.rb
  lib/chef-cli/completions/bash.sh.erb
  lib/chef-cli/completions/chef.fish.erb
  lib/chef-cli/completions/zsh.zsh.erb
  lib/chef-cli/dist.rb
  lib/chef-cli/helpers.rb
  lib/chef-cli/licensing/base.rb
  lib/chef-cli/licensing/config.rb
  lib/chef-cli/version.rb
  post-bundle-install.rb
  spec/unit/cli_spec.rb
  spec/unit/command/env_spec.rb
  spec/unit/command/exec_spec.rb
  spec/unit/command/license_spec.rb
  spec/unit/command/shell_init_spec.rb
  spec/unit/helpers_spec.rb
  spec/unit/policyfile_services/clean_policies_spec.rb
Labels: Expeditor: Skip All

#274 Adding the verify pipeline
  .expeditor/config.yml
Labels: Expeditor: Skip All

#272 Adding back the habitat packaging and license changes and releasing to major version
  .expeditor/build.habitat.yml
  .expeditor/buildkite/artifact.habitat.test.ps1
  .expeditor/buildkite/artifact.habitat.test.sh
  .expeditor/config.yml
  .expeditor/habitat-test.pipeline.yml
  .gitignore
  Gemfile
  Rakefile
  chef-cli.gemspec
  habitat/plan.ps1
  habitat/plan.sh
  habitat/tests/test.ps1
  habitat/tests/test.sh
  lib/chef-cli/builtin_commands.rb
  lib/chef-cli/command/env.rb
  lib/chef-cli/command/exec.rb
  lib/chef-cli/command/license.rb
  lib/chef-cli/command/shell_init.rb
  lib/chef-cli/completions/bash.sh.erb
  lib/chef-cli/completions/chef.fish.erb
  lib/chef-cli/completions/zsh.zsh.erb
  lib/chef-cli/dist.rb
  lib/chef-cli/helpers.rb
  lib/chef-cli/licensing/base.rb
  lib/chef-cli/licensing/config.rb
  post-bundle-install.rb
  spec/unit/cli_spec.rb
  spec/unit/command/env_spec.rb
  spec/unit/command/exec_spec.rb
  spec/unit/command/license_spec.rb
  spec/unit/command/shell_init_spec.rb
  spec/unit/helpers_spec.rb
  spec/unit/policyfile_services/clean_policies_spec.rb
Labels: Expeditor: Bump Version Major
